/*  your css code here. If applicable */
img{
	object-fit:cover;
	width:450px;
	height:200px;
}
.temp{
	width:150px;
	height:40px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	margin:40px 40px 40px 20px;
	
	
	
}
.hero{
	display:flex;
	justify-content:space-between;
	margin:10px;
}
